<div class="card">
    <div class="blurring dimmable image">
        <div class="ui dimmer transition hidden">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'app.ui.challenge_this_player'|trans }}</div>
                </div>
            </div>
        </div>

        {% set avatar %}
            {% if (loop.index0 % 2) == 0 %}
                {{ 'https://semantic-ui.com/images/avatar/large/jenny.jpg' }}
            {% else %}
                {{ 'https://semantic-ui.com/images/avatar/large/elliot.jpg' }}
            {% endif %}
        {% endset %}
        <img src="{{ avatar }}">
    </div>
    <div class="content">
        <a class="header">{{ customer.user.username }}</a>
        <div class="meta">
            {{ customer.score }} pts
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="signal icon"></i>
            {{ 'app.ui.game_sesions.choice'|transchoice(2) }}
        </a>
    </div>
</div>
